@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/lato.semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Archivo';
  src: url('./assets/fonts/Archivo-VariableFont_wdth,wght.ttf')
    format('truetype');
  font-weight: 100 900;
}

Main {
  text-align: center;
}

#imageContainer {
  width: 14.0625rem;
  margin: 0 auto;
}
